.header {
  height: 100px;
  background-color: brown;
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
